body{
    background-color: #D3C7B1;
    font-family: sans-serif;
}
#wrapper{
    width: 75em;
    margin: 2em auto;
    background-color: #fff;
}
#header{
    background-color: #3B597D;
    margin: 0;
    padding: 1em;
    color: #fff; 
}